Flask==3.1.2
gunicorn==23.0.0
matplotlib==3.10.6
opencv-python==4.12.0.88
pandas==2.3.2
pandas-stubs==2.3.2.250827
scikit-learn==1.7.2
tensorflow==2.20.0
tqdm==4.67.1

# Pythorch for NVIDIA GPU (Recomended for Trainning Model)
#pip install torch==2.8.0+cu126 torchvision==0.23.0+cu126 torchaudio==2.8.0+cu126 --index-url https://download.pytorch.org/whl/cu126

#For CPU (Recomended for Running this Project if You are not training)
#pip install torch==2.8.0+cpu torchvision==0.23.0+cpu torchaudio==2.8.0 --index-url https://download.pytorch.org/whl/cpu


Flask>=2.0
Pillow
Werkzeug
gunicorn